<% layout('/pages/index') -%>
<div class="container-fluid">
  <div class="side-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">EDIT
                <%=type.replace('/','').toUpperCase()%>
                <%=addressWarranty%>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- <form method="POST"> -->
            <div class="form-group">
              <label for="AddressB">Address B</label>
              <input type="text" class="form-control" id="AddressB" name="AddressB" placeholder="AddressB">
            </div>
            <div class="form-group">
              <label for="UserNameA">UserName Bên B</label>
              <input type="text" class="form-control" id="UserNameB" name="UserNameB" placeholder="UserNameB">
            </div>
            <div class="form-group">
              <label for="HomeAddress">Home Address</label>
              <input type="text" class="form-control" id="HomeAddress" name="HomeAddress" placeholder="Home Address">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control" id="age" name="age" placeholder="Age">
            </div>
            <button type="button" class="btn btn-success" onclick="Create()">Submit</button>
            <!-- </form> -->
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="title">Info
                <%=type.replace('/','').toUpperCase()%>
                <%=addressWarranty%>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td>idProduct</td>
                  <td id="idProduct"></td>
                </tr>
                <tr>
                  <td>expireTime</td>
                  <td id="expireTime"></td>
                </tr>
                <tr>
                  <td>compensation</td>
                  <td id="compensation"></td>
                </tr>
                <tr>
                  <th>Address A</th>
                  <td id="tdAddressA"></td>
                </tr>
                <tr>
                  <td>UserNameA</td>
                  <td id="tdUserNameA"></td>
                </tr>
                <tr>
                  <td>Home AddressA</td>
                  <td id="idHomeAddressA"></td>
                </tr>
                <tr>
                  <td>Phone NumberA</td>
                  <td id="tdPhoneNumberA"></td>
                </tr>
                <tr>
                </tr>
                <td>AgeA</td>
                <td id="tdAgeA"></td>
                </tr>
                <tr>
                  <th>Address B</th>
                  <td id="tdAddressB"></td>
                </tr>
                <tr>
                  <td>UserName B</td>
                  <td id="tdUserNameB"></td>
                </tr>
                <tr>
                  <td>Home Address B</td>
                  <td id="idHomeAddressB"></td>
                </tr>
                <tr>
                  <td>Phone Number B</td>
                  <td id="tdPhoneNumberB"></td>
                </tr>
                <tr>
                </tr>
                <td>Age B</td>
                <td id="tdAgeB"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ads = '<%=addressWarranty%>';
  var acc = null;
  var contractWarranty = null;
  window.addEventListener('load', async function () {

    acc = await web3.eth.getAccounts();
    contractWarranty = new web3.eth.Contract(abi5, ads);
    var detailnowA = await contractWarranty.methods.detailAccount(acc[0]).call();
    $("#AddressContractA").text(ads)
    $("#tdAddressA").text(detailnowA['owner'])
    $("#tdUserNameA").text(detailnowA['name'])
    $("#idHomeAddressA").text(detailnowA['homeAddr'])
    $("#tdPhoneNumberA").text(detailnowA['phoneNumber'])
    $("#tdAgeA").text(detailnowA['age'])
    var convention = await contractWarranty.methods.convention().call();
    var AddressB = convention.buyer;
    var detailnowB = await contractWarranty.methods.detailAccount(AddressB).call();
    $("#tdAddressB").text(detailnowB['owner'])
    $("#tdUserNameB").text(detailnowB['name'])
    $("#idHomeAddressB").text(detailnowB['homeAddr'])
    $("#tdPhoneNumberB").text(detailnowB['phoneNumber'])
    $("#tdAgeB").text(detailnowB['age'])

    $("#idProduct").text(convention['idProduct'])
    $("#expireTime").text(convention['expireTime'])
    $("#compensation").text(convention['compensation'])
  });

  async function Create() {
    var AddressB = $("#AddressB").val();
    var UserNameB = $("#UserNameB").val();
    var HomeAddress = $("#HomeAddress").val();
    var phoneNumber = parseInt($("#phoneNumber").val());
    var age = parseInt($("#age").val());

    if (confirm("Bạn có đồng ý tạo bên B")) {
      var createParnter = await contractWarranty.methods.createParnter(AddressB,
          UserNameB, HomeAddress, phoneNumber, age, 2)
        .send({
          from: acc[0]
        });
      var detailnowB = await contractWarranty.methods.detailAccount(AddressB).call();
      $("#tdAddressB").text(detailnowB['owner'])
      $("#tdUserNameB").text(detailnowB['name'])
      $("#idHomeAddressB").text(detailnowB['homeAddr'])
      $("#tdPhoneNumberB").text(detailnowB['phoneNumber'])
      $("#tdAgeB").text(detailnowB['age'])
    }
  }
</script>